body{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:white;
  overflow-x: hidden;
}

.selamat{
  font-family:"Gabriola",Helvetica,Arial,sans-serif;
  font-size: 40px;
  margin:center;
}
.round{
  width: 15;
  height: 15;
  border-radius: 15px;
}

.logo{
  float: left;
}

.view-header{
  padding-top: 15px;
  padding-bottom: 15px;
  background: #212322;
  color: white;
}
.kanan{
  text-align: right;
}
.kiri{
  text-align: left;
}

.spasi{
  padding-top: 20px;
  padding-bottom: 20px;
}

.spasi-T2{
  padding-top: 60px;
  padding-bottom: 60px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 200px;
  height: 200px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 160px;
}
.baris{
  background-color: #545360;
}
.menu{
  font-family:"Gabriola",Helvetica,Arial,serif;
  font-size:50px;
  line-height:1.42857143;
  color:#434549;
}

.view-footer{
  padding-top: 15px;
  padding-bottom: 15px;
  background: #202020;
  color: white;
}

.nama{
  float: right;
  padding-top: 15px;
}

.menu1{
  padding-top: 15px;
  padding-bottom: 15px;
  
}

.out{
  float: center;
}

.shadow{
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.3);
}

.selected{
  background-color: white;  
}

.selected a{
  color: black;  
}

#navbar>li>a{
  color: white;
}

#navbar>li>a:hover{
  background-color: #1e7bca;
  transition: linear all 0.30s;
}

#navbar>li>a:visited{
  background-color: #212322;
}

#Mynav{
  background-color: orange;
}

#nav-right>li>a:hover{
  background-color: #212322;
}

#nav-right>li>a:visited{
  background-color: #212322;
}


.navb{
  background-color: #ff8d00;
  color: white;
  list-style: none;
  text-align: left;
  padding: 0 0 0 0;
}

.navb a{
  text-decoration: none;
  color: white;
  padding: 20px 20px 20px 20px;
}

.navb ul li{
  list-style-type: none;
  display: inline-block;
  padding: 13px;
}

.navb ul li:hover{
  background-color: #212322;
}

.navb ul li a:hover{
  color: white;
}

.navb-select{
  background-color : #212322;
}


@media (min-width: 700px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #4286f4;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: linear all 0.30s;
    margin-left: 10px;
  }
}

.title{
  background-color: #4e535b;
  color: white;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.nav-menu{
  padding-left: 330px;
}

.M-content{
  width: 1033px;
  height: 700px;
}

#mycontainer{
  max-width: 1035px;
}